# Ignore everything by default
*

# --- Exceptions for files/directories to include ---

# Allow the 'app' directory and its contents
!/app/
!/app/**

# Allow specific files in the root of the repo
!/environment.yml
!/README.md

# --- Specific files/patterns to ignore ---

# Ignore .env file within the 'app' directory
/app/.env

# Ignore Python compiled files
*.pyc
__pycache__/
